* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #9b1c31;
}

.roster-title {
  width: 100%;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

.player-section {
  max-width: 100%;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.player-title {
  color: white;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
  margin-top: 20px;
}

.player-main {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.player-card {
  background-color: aqua;
  height: 350px;
  width: calc((100% - 40px) / 3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.player-bg {
  background-color: #f5f5f5;
  height: 75%;
  overflow: hidden;
}

.player-bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}

.player-bg:hover img {
  transform: scale(1.1);
}

.player-nameplate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 25%;
}

.name,
.number {
  margin-left: 20px;
  margin-right: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.number {
  font-size: 20px;
}

strong {
  font-size: 30px;
}

.logo {
  width: 180px;
  height: 110px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #9b1c31;
  border-bottom: 5px solid #d6b13a;
  width: 100%;
  height: 10vh;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 30px;
}

li {
  margin: 20px;
  font-size: 25px;
  color: #faf9f6;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 2px;
}

.sponsors img {
  width: 50px;
  padding: 10px;
  height: auto;
}

.sponsors {
  justify-content: space-evenly;
  display: flex;
  justify-items: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #faf9f6;
}

/* pseudo ccode */

li a:hover {
  color: #d6b13a;
  cursor: pointer;
  text-shadow: black;
}

button:hover {
  color: #d6b13a;
  border: 1px solid white;
}
