* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #9b1c31;
}

.logo {
  width: 180px;
  height: 110px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #9b1c31;
  border-bottom: 5px solid #d6b13a;
  width: 100%;
  height: 10vh;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 30px;
}

li {
  margin: 20px;
  font-size: 25px;
  color: #faf9f6;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 2px;
}

.sponsors img {
  width: 50px;
  padding: 10px;
  height: auto;
}

.sponsors {
  justify-content: space-evenly;
  display: flex;
  justify-items: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #faf9f6;
}

.memory-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.memory-card {
  background-color: black;
  margin-left: 350px;
  margin-right: 350px;
  height: 450px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  overflow: hidden;
}

.memory-img {
  height: 75%;
  width: 100%;
}

.memory-bar {
  background-color: #a62c2b;
  height: 25%;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.memory-bar p {
  margin-bottom: 5px;
}
/* pseudo ccode */

li a:hover {
  color: #d6b13a;
  cursor: pointer;
  text-shadow: black;
}
